.body {
  background-color: #e4f7e3;
}

.appWrapper {
  max-width: 960px;
  margin: 0 auto;
}

.app {
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
  font-family: "Raleway", sans-serif;
  border-style: solid;
  border-radius: 30px;
  border-color: #749b9b;
  border-width: 0.7px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  padding-top: 30px;
  line-height: 22px;
}

.searchForm {
  font-family: "Work Sans", sans-serif;
}

#inputSearchCity {
  width: 200px;
  background-color: #dbfbd7;
  border-color: #749b9b;
  margin-left: 300px;
}

#inputSearchCity:hover {
  opacity: 70%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

#buttonGo {
  margin-left: 250px;
}

#buttonGo:hover {
  background-color: #749b9b;
  opacity: 70%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

#cityToday {
  font-size: 26px;
  font-weight: bold;
}

#dayToday {
  font-size: 24px;
}

#dateToday {
  font-size: 24px;
}
ul {
  list-style: none;
}

#today {
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  margin-left: 140px;
}

#todayList {
  margin-left: 115px;
  margin-top: 30px;
  padding-left: 0;
}

.celsius:hover {
  opacity: 60%;
  transition: 150ms ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

.fahrenheit:hover {
  opacity: 60%;
  transition: 150ms ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

.vertical {
  border-left: 1px solid #3b5a63;
  height: 70px;
  position: absolute;
}

hr.listStart {
  border: 0.5px solid #3b5a63;
  width: 800px;
}

#row1 {
  margin: 30px;
  margin-left: 150px;
}

#row2 {
  margin: 30px;
  margin-left: 59px;
}
.verticalLine {
  border-left: 1px solid #3b5a63;
  height: 90px;
  position: absolute;
}
.verticalLineRow2 {
  border-left: 1px solid #3b5a63;
  height: 90px;
  position: absolute;
  left: 70%;
}

.dayOfWeek {
  font-weight: 600;
}

.dayOfWeek:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.sourceCode {
  margin-left: 40px;
}

.codeLink {
  color: #749b9b;
}
.codeLink:hover {
  color: #3b5a63;
  cursor: pointer;
  font-size: 18px;
  transition: 150ms ease-in-out;
}
