.app {
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
  font-family: "Raleway", sans-serif;
  border-style: solid;
  border-radius: 30px;
  border-color: #749b9b;
  border-width: 0.7px;
  margin-top: 50px;
  margin-left: 240px;
  margin-right: 240px;
}

.searchForm {
  font-family: "Work Sans", sans-serif;
  margin: 30px;
}

#inputSearchCity {
  width: 200px;
  background-color: #dbfbd7;
  border-color: #749b9b;
  margin-left: 80px;
}

#inputSearchCity:hover {
  opacity: 70%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

#buttonGo:hover {
  background-color: #749b9b;
  opacity: 70%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

#cityToday {
  font-size: 26px;
  font-weight: bold;
}

#dayToday {
  font-size: 24px;
}

#dateToday {
  font-size: 24px;
}
ul {
  list-style: none;
}

#today {
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  margin-left: 180px;
}

#todayList {
  margin-left: 160px;
  margin-top: 30px;
  padding-left: 0;
}

.vertical {
  border-left: 1px solid black;
  height: 70px;
  position: absolute;
}

#row1 {
  margin: 50px;
  margin-left: 150px;
}

#row2 {
  margin: 40px;
  margin-left: 59px;
}
.verticalLine {
  border-left: 1px solid black;
  height: 90px;
  position: absolute;
}
.verticalLineRow2 {
  border-left: 1px solid black;
  height: 90px;
  position: absolute;
  left: 70%;
}

.dayOfWeek {
  font-weight: 600;
}

.dayOfWeek:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.sourceCode {
  margin-left: 280px;
}

.codeLink {
  color: #749b9b;
}
.codeLink:hover {
  color: #3b5a63;
  cursor: pointer;
  font-size: 18px;
  transition: 150ms ease-in-out;
}
